# Project Files #
#################
*.userprefs
*.pidb
*.suo
*swp
bin
obj
WebGoat/App_Data/*.txt
*.sqlite*
WebGoat/Configuration/*.config

# Trash Files #
###############
.DS_Store
/.vs/WebGoat.NET
/.vscode
/WebGoat/.vs
/WebGoat/WebGoat.NET.csproj.user
